
[data-color="purple"]{
    background-color: purple;
}

[data-color="lightblue"]{
    background-color: lightblue;
}

[data-color="violet"]{
    background-color: violet;
}

[data-color="orange"]{
    background-color: orange;
}

[data-color="red"]{
    background-color: red;
}

[data-color="yellow"]{
    background-color: yellow;
}

[data-color="darkgreen"]{
    background-color: darkgreen;
}

[data-color="darkblue"]{
    background-color: darkblue;
}

[data-color="black"]{
    background-color: black;
}

[data-color="white"]{
    background-color: burlywood;
}