#home-board .main {
    padding: 0 1rem 1rem 1rem;
}

#home-board .top {
    background-color: burlywood;
}

#home-board .mid{
    background-color: purple;
}
#home-board .bottom {
    position: fixed;
    bottom: 1rem;
}