/* GENERAL */

#home-board .main {
    padding: 0 1rem 1rem 1rem;
}

/* TOP */

#home-board .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;

}

#home-board .top .top-left{
    font-size: larger;
}

#home-board .top .top-left span{
    font-weight: bold;
}

#home-board .top .top-left p{
    padding: 0.5rem 0;
}

#home-board .top .top-right{
    display: flex;
    flex-direction: row;
}

#home-board .top .top-right .bankrupt-button{
    margin-right: 1rem;
}

#home-board .top .top-right .bankrupt-button .button{
    font-size: 1rem;
}

#home-board .top .top-right .bankrupt-button .button:hover{
    background-color: red;
    color: white;
}

#home-board .top .top-right .player-stats-buttons{
    display: flex;
    flex-direction: column;
}
#home-board .top .top-right .player-stats-buttons button {
    background-image: url("../../media/bg-pixels.png"), url("../../media/button-right-arrow.png");
    background-repeat: repeat, no-repeat;
    background-color: #FFFFFF;
    color: #757575;
    padding-right: 3rem;
    background-position: center, right center;
    background-size: auto, 1.2rem 1.2rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}


#home-board .top .top-left .player-activity{
    width: auto;
    height: 4rem;
    overflow: auto;
    font-size: small ;
    padding-left: 0.5rem;
    border: solid #C4C4C4 0.1rem;
    border-radius: 0.75rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0 0.125rem 0.5rem 0;
    padding-right: 0.5rem;
    max-width: 200%;
}

#home-board .top .top-left .player-activity li{
    padding: 0.25rem 0;
}

/* MID */

#home-board .mid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-board .mid .player-position {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    margin: 0;
    background-image: url("../../media/down-arrow-player-position.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 1.5rem 1.5rem;
}

#carousel {
    margin-bottom: 0.5rem;
}


#carousel-navigation img {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: all .4s ease;
}

#carousel-navigation img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* BOTTOM */
#home-board .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.5rem;
    position: fixed;
    bottom: 1rem;
    top:  auto;
    right: 1rem;
    left: 1rem;
}

#home-board .bottom-left {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#dice-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem
}

#dice-container .dice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    color: #FFFFFF;
    height: 100%;
}

#dice-container .dice-left, #dice-container .dice-right{
    background-color: #E0E0E0;
    text-align: center;
    padding-top: 50%;
    font-size: 3.5rem;
    font-weight: bold;
    border: solid #C4C4C4 0.1rem;
    border-radius: 0.75rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0 0.125rem 0.5rem 0;
}

#home-board .bottom-mid{
    padding: 2rem;
    font-size: x-large;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
    backdrop-filter: blur(1.25rem);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.06rem 0.75rem rgba(0,0,0,0.25);
    border: 0.06rem solid rgba(255,255,255,0.3);
}

#home-buttons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    gap: 0.5rem;

    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}

#home-buttons-grid button {
    text-transform: capitalize;
    font-size: 1rem;
}
