#mortgage .main{
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: Arial,sans-serif;
}
#mortgage .flexcontainer{
    display: flex;
    justify-content: space-between;
}
#mortgage .information p{
    border-radius: 0.5rem;
    width: 18rem;
    display: block;
    background-color: rgb(206, 206, 206);
    color: black;
    padding: 0.5rem 0.5rem 0.5rem 3.2rem;
}
#mortgage .information p{
    margin-bottom: 1rem;
}
#mortgage .information p{
    background-image: url("../../media/icons8-info.svg");
    background-repeat: no-repeat;
    background-size: 1.8rem 1.8rem;
    background-position: 0.6rem 0.6rem;
}
#mortgage .property-card-back{
    margin-left: 1rem;
}
#mortgage #property-card-front-and-back{
    display: flex;
}
#mortgage div.flexcontainer h2:first-child{
    margin-right: 14rem;
}
#mortgage .buttons button{
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: #757575;
    color: #FFFFFF;
    border-radius: 1rem;
    width: 12rem;
    display: block;
}
#mortgage .buttons.flexcontainer{
    align-items: flex-end;
    margin-top: 9rem;
}
