#setup-auction .main {
    max-width: fit-content;
    margin: 10rem auto auto auto;
}

#setup-auction form {
    background-image: url("../../media/bg-pixels.png");
    border: solid #C4C4C4 0.1rem;
    border-radius: 0.75rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0 0.125rem 0.5rem 0;
    padding: 1rem;
}

#setup-auction legend{
    margin-bottom: 1rem;
    font-size: 2rem;
}

#setup-auction input{
    width: 100%;
}
