#player_stats header h1 {
    margin-bottom: 5rem;

}
#player_stats .player_balance {
    background-color: #757575;
    color: #FFFFFF;
    width: fit-content;
    padding: 0.1rem;
    text-align: center;
    font-size: 1.5rem;

}

#player_stats .flex-container-button{
    display: flex;
    justify-content: flex-end;
    margin:2rem;
}
#player_stats button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: #757575;
    color: #FFFFFF;
    border-radius: 1rem;
    max-width: 100%;
}
#player_stats .player_balance + h2{
    margin-top: 5rem;
}
/* flex container columns*/
#player_stats .flex-container {
    justify-content:space-between;
    margin: auto;
    align-content: flex-start;
}

/*eq margins*/
#player_stats .playerstats-playerbalance_pawn {
    margin-left: 2rem;
}
#player_stats .stats_window-stats_tiles{
    margin-right: 2rem;
}
#player_stats .stats_window-stats_tiles button{
    margin-bottom: 1rem;

}
/* box for cards */
#player_stats .stats_window{
    background-color:#DEE1E6;
    border: solid 0.1rem grey;
    width: 25rem;
    height: 12rem;
    box-shadow:0.2rem 0.2rem 0.1rem grey ;
}
