<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chance tile</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/tiles/chance-tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
</head>
<body>
    <article class="chance-tile tile">
        <h3>Chance</h3>
        <figure>
            <img src="../assets/media/chance.png" alt="chance" title="chance">
        </figure>
    </article>
</body>
</html>