<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community chest</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/tiles/community-chest.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
</head>
<body>
    <article class="community-chest tile" data-tile="" data-position="">
        <h3>Community chest</h3>
        <figure>
            <img src="../assets/media/community-chest.gif" alt="chance" title="chance">
        </figure>
    </article>
</body>
</html>