<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utility-tile</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/utility-tiles.css">
</head>
<body>
        <article class="tile utility-tiles" data-tile="" data-position="">
            <div class="header-grid">
                <h3>Electric Company</h3>
            </div>
            <div class="body-grid">
                <figure>
                    <img src="../assets/media/monopoly-bulb.jpg" alt="light-bulb" title="light-bulb">
                </figure>
            </div>
            <div class="footer-grid">
                <h4>Price: <span></span></h4>
                <h4>Owner: <span></span></h4>
            </div>
        </article>
</body>
</html>