<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Parking</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/tiles/free-parking-tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
</head>
<body>
<article class="free-parking-tile tile">
    <h3>Free Parking</h3>
    <figure>
        <img src="../assets/media/free-parking.png" alt=free-parking title="free-parking">
    </figure>
</article>
</body>
</html>