<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go tile</title>
    <link rel="stylesheet" href="../assets/css/tiles/go-tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
</head>
<body>
<div class="go-tile tile">
    <figure>
        <img src="../assets/media/go.gif" alt="go-tile" title="go-title">
    </figure>
</div>
</body>
</html>