<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go to Jail tile</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/tiles/basic-tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
</head>
<body>
<article class="basic-tile tile">
    <h3>Go to Jail</h3>
    <figure>
        <img src="../assets/media/go-to-jail.png" alt="go-to-jail" title="go-to-jail">
    </figure>
</article>
</body>
</html>