<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jailcard</title>
    <!--css-->
    <link rel="stylesheet" href="src/assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/templates/jailcard.css">
    <link rel="stylesheet" href="src/assets/css/reset.css">

</head>
<body>
<template>

    <div id="jail_card">
        <div id="jail_card_inside">
            <h3>jailcard</h3>
            <figure>
                <img src="../assets/media/get_out_of_jail.png" alt="get_out_of_jail" title="get_out_of_ail">
            </figure>
            <p>Get out of jail free!</p>
        </div>
    </div>
</template>

</body>
</html>