<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jail tile</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/tiles/basic-tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
</head>
<body>
<article class="basic-tile tile">
    <h3>Jail</h3>
    <figure>
        <img src="../assets/media/jail.png" alt="jail" title="jail">
    </figure>
</article>
</body>
</html>