<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>luxury-tax-tile</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/tiles/luxury-tax-tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
</head>
<body>
    <article class="luxury-tax-tile tile" data-tile="" data-position="">
        <h3>Luxury Tax</h3>
        <figure>
            <img src="../assets/media/luxury-tax.png" alt="luxury-tax" title="luxury-tax">
        </figure>
    </article>
</body>
</html>