<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/properties-map.css">
</head>
<body>

<div id="properties-map">
    <div data-colour="purple" data-owner="" data-property="Mediterranean" data-postition="1"></div>
    <div data-colour="purple" data-owner="" data-property="Baltic" data-postition="3"></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
    <div data-colour="" data-owner="" data-property="" data-postition=""></div>
</div>

</body>
</html>