<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/templates/property.css">
    <link rel="stylesheet" href="../assets/css/general.css">

    <script src="../assets/js/helper.js"></script>
    <script src="../assets/js/data-connector/api-communication-abstractor.js"></script>
    <script src="../assets/js/data-connector/error-handler.js"></script>
    <script src="../assets/js/data-connector/local-storage-abstractor.js"></script>
    <script src="../assets/js/config.js"></script>
</head>
<body>
<div class="property-card-front" data-color="" data-tile="" data-postition="">
    <h3>Title card</h3>
    <p>Owner: <span></span></p>
    <p>Building(s):</p>
    <ul>

    </ul>
    <p>Mortgaged: <span></span></p>
</div>
</body>
</html>