<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property-card-back</title>
    <link rel="stylesheet" href="../assets/css/general.css">

    <script src="../assets/js/helper.js"></script>
    <script src="../assets/js/data-connector/api-communication-abstractor.js"></script>
    <script src="../assets/js/data-connector/error-handler.js"></script>
    <script src="../assets/js/data-connector/local-storage-abstractor.js"></script>
    <script src="../assets/js/config.js"></script>
</head>
<body>
    <div class="property-card-back" data-color="" data-tile="" data-postition="">
    <h3>Title card</h3>
    <h4>Rent: <span></span></h4>
    <ul>

    </ul>
    <h4>Mortgage value: <span></span></h4>
    <p>An house costs <span></span> per piece</p>
    <p>An hotel costs <span></span> plus 4 appartements</p>

    <p>If a player owns all the properties of the color group, the rent doubles</p>
    </div>
</body>
</html>