<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/tiles/property-tile.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">

    <script src="../assets/js/helper.js"></script>
    <script src="../assets/js/data-connector/api-communication-abstractor.js"></script>
    <script src="../assets/js/data-connector/error-handler.js"></script>
    <script src="../assets/js/data-connector/local-storage-abstractor.js"></script>
    <script src="../assets/js/config.js"></script>
    <script src="../assets/js/render/render-property.js"></script>
    <script src="../assets/js/main-board/properties.js"></script>

    <script>
        let _player = {
            username: "John Doe",
            token: null,
            gameId: "dummy",
            pawn: null
        };

        document.addEventListener('DOMContentLoaded',init);
        function init(){
            processPropertyFront("Mediterranean");
        }
    </script>
</head>
<body>
    <div class="property-front tile" data-color="" data-tile="Mediterranean" data-position="">
        <div class="grid-header">
            <h3>card</h3>
        </div>
        <div class="grid-body">
            <p>Owner: <span></span></p>
            <p>Building(s):</p>
            <ul>

            </ul>
            <p>Mortgaged? <span></span></p>
        </div>
    </div>
</body>
</html>