<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>railroad tile</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/tiles/railroad-tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
</head>
<body>
    <article class="railroad-tile tile" data-tile="" data-position="">
        <div class="header-grid">
            <figure>
                <img src="../assets/media/monopoly-train.png" alt="railroad" title="railroad">
            </figure>
        </div>
        <div class="body-grid">
            <h3>railroad</h3>
            <h4>Cost: <span></span></h4>
            <h4>Owner: <span></span></h4>
        </div>
    </article>
</body>
</html>