<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Station tile</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/templates/station-tile.css">
    <link rel="stylesheet" href="../assets/css/templates/tile.css">
</head>
<body>
<div class="station-tile tile" data-tile="" data-postition="">
    <div class="header-grid">
        <figure>
            <img src="../assets/media/monopoly-train.png" alt="chance" title="chance">
        </figure>
    </div>
    <div class="body-grid">
        <h3>Pennsylvania RR</h3>
        <h4>Rent: <span></span></h4>
        <ul>
        </ul>
        <h4>Mortgage value: <span></span></h4>
    </div>
</div>
</body>
</html>