<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tax-income-tile</title>
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/tiles/basic-tile.css">
    <link rel="stylesheet" href="../assets/css/tiles/tile.css">
</head>
<body>
    <article class="basic-tile tile" data-tile="" data-position="">
        <h3>Tax Income</h3>
        <figure>
            <img src="../assets/media/tax-income.png" alt="tax-income" title="tax-income">
        </figure>
    </article>
</body>
</html>