
header h1 {
    margin-bottom: 4rem;
}

main {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial', sans-serif;
}

input, select {
    width: 100%;
    color: #757575;
}

.button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: #757575;
    color: #FFFFFF;
    border-radius: 1rem;
}

input[type="radio"] {
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 1rem;
    height: 1rem;
    padding: 0;
    display: inline-block;
    text-align: center;
}


table {
    margin-bottom: 1rem;
    width: 100%;
}

fieldset {
    margin-bottom: 1rem;
    background: url("../../media/bg-pixels.png");
    border-radius: 0.5rem;
    border-top: lightgray solid 0.2rem;
    padding: 1rem;
}

legend {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

thead {
    border-bottom: solid 0.1rem #757575;
}

th {
    color: #757575;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
    margin-bottom: 0.25rem;
    text-align: center;
}

th:first-of-type {
    text-align: left;
}

td {
    padding-right: 2rem;
}
td:not(:first-of-type){
    text-align: center;
}

tr {
    border-bottom: dashed 0.05rem #757575;
}

