.go-tile {
    width: 15rem;
    height: 18rem;
    border: solid black 0.1rem;
    font-family: Arial,sans-serif;
    display: flex;
    flex-direction: column;

}
.go-tile img{
    max-width: 100%;
}
.go-tile figure{
    margin: auto;
}