.property-card-front,.property-card-back{
    width: 15rem;
    height: 18rem;
    border: solid black 0.1rem;
    font-family: Arial,sans-serif;
}
.property-card-front p,.property-card-front li{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
.property-card-front{
    text-align: center;
}
.property-card-back h4, .property-card-back li, .property-card-back p{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}
.property-card-back h4{
    font-size: 0.9rem;
    color: #474747;
    font-weight: bolder;
}
.property-card-front h3,.property-card-back h3{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: blue;
    line-height: 220%;
    border-bottom: solid black 0.1rem;
    margin: auto;

}
.property-card-back p:last-child{
    margin-bottom: 0.5rem;
}
