
#properties-map {
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: repeat(12, 1.383rem);
    grid-template-rows: repeat(5, 1.383rem);
    gap: 1.25rem;
    padding: 1.2rem;
    width: 30.5rem;
    height: 12rem;
    border: solid #C4C4C4 0.1rem;
    border-radius: 0.75rem;
}

#properties-map div[data-property]{
    background-color: #DEE1E6;
}