body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1rem;
    color: #333333;
    background-color: #FFFFFF;
}

header {
    font-family: 'Abel', 'Arial', sans-serif;
}

#welcome_screen h1 {
    text-align: center;
    font-size: 4rem;
    background-image: url("../media/header_line_left.png"), url("../media/header_line_right.png");
    background-size:contain;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
}

#welcome_screen h1 span{
    background: #FFFFFF;
    padding: 1rem;
}

#welcome_screen p {
    text-align: center;
    font-size: 6rem;
    margin-top: 13.5rem;
    margin-bottom: 8.5rem;

}

#index {
    text-align: center;
    margin-bottom: auto;
    margin-top: 6rem;
}

#index a {
    margin-top: 1rem;
    display: block;
    font-size: 1.5rem;
}

#start_game {
    font-size: 2rem;
    padding: 0.75rem 5rem;
    background-color: #757575;
    color: #FFFFFF;
    border-radius: 1rem;
}

h1 {
    font-family: 'Abel', 'Arial', sans-serif;

}

.hidden {
    display: none;
}