body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1rem;
    color: #333333;
    background-color: #FFFFFF;
}

header {
    font-family: 'Abel', 'Arial', sans-serif;
}

/*index*/

#welcome_screen h1 {
    text-align: center;
    font-size: 4rem;
    background-image: url("../media/header_line_left.png"), url("../media/header_line_right.png");
    background-size:contain;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
}

#welcome_screen h1 span{
    background: #FFFFFF;
    padding: 2rem;
}

#welcome_screen p {
    text-align: center;
    font-size: 6rem;
    margin-top: 13.5rem;
    margin-bottom: 8.5rem;

}

#index {
    text-align: center;
    margin-bottom: auto;
    margin-top: 6rem;
}

#index a {
    margin-top: 1rem;
    display: block;
    font-size: 1.5rem;
}

#start_game {
    font-size: 2rem;
    padding: 0.75rem 5rem;
    background-color: #757575;
    color: #FFFFFF;
    border-radius: 1rem;
}

h1 {
    font-family: 'Abel', 'Arial', sans-serif;

}
/*join-create*/
#join-create{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
}

.header h1{
    margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    width: auto;
    background-image: url("../media/header_line_left.png"), url("../media/header_line_right.png");
    background-size:contain;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
}
/*TODO fix background image*/

.header span{
    background: #FFFFFF;
    padding: 2rem;
}

.username-container{
    margin-top: 2rem;
    /*display: flex;*/
    /*flex-wrap:wrap;*/
    /*justify-content: space-around;*/
}



.username-container label{
    display: block;
    font-size: 1.5rem;
}

#username{
    width: 60%;
}

#join-create  h2{
    color: #757575;
    font-size: 2rem;
}
#join-create li{
    color: #757575;
    font-size: 1rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}
#join-create ul{
    border-bottom: solid 0.1rem #757575;

}
/*general*/
.hidden {
    display: none;
}