header h1 {
    margin-bottom: 5rem;

}

.player_balance {
    background-color: #757575;
    color: #FFFFFF;
    width: fit-content;
    padding: 0.1rem;
    text-align: center;
    font-size: 1.5rem;

}
.player_balance + h2{
    margin-top: 5rem;
}
/* flex container columns*/
.flex-container {
    justify-content:space-between;
    margin: auto;
    align-content: flex-start;
}

/*eq margins*/
.playerstats-playerbalance_pawn {
    margin-left: 2rem;
}
.stats_window-stats_tiles{
    margin-right: 2rem;
}
.stats_window-stats_tiles button{
    margin-bottom: 1rem;

}
/* box for cards */
.stats_window{
    background-color:#DEE1E6;
    border: solid 0.1rem grey;
    width: 25rem;
    height: 12rem;
    box-shadow:0.2rem 0.2rem 0.1rem grey ;
}
.stats_window p{
    padding-top: 10rem;
    padding-left:0.5rem;
}
/*stats_tiles*/
#stats_tiles{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    
}



