#waiting-form main{
    max-width: 25rem;
    margin: 10rem auto auto auto;
}
#waiting-form li{
    font-size: 1.5rem;
    border: solid grey 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 1rem;
}