.go-tile {
    display: flex;
    flex-direction: column;
}

/* added h2 to make article valid*/
.go-tile h2 {
    display: none;
}

.go-tile img{
    max-width: 100%;
}
.go-tile figure{
    margin: auto;
}